
.ng-valid:not(form)  {
border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.form-group > label {
  font-weight: bold; 
}

form {
  padding-bottom: 30px;
}