<div class="row">
  <div class="col-md-6">
    <div class="text-left">
      <button class=" btn btn-outline-dark " (click)="return() ">
        <i class="fa fa-arrow-left "></i> Return
      </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="saveProduct()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" [(ngModel)]="product.title" class="form-control" id="title" formControlName="title">
        <lw-error-box *ngIf="validateFormControl('title')">
          Title required.
        </lw-error-box>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <input type="text" [(ngModel)]="product.price" class="form-control" id="price" formControlName="price">
          <span class="input-group-addon">€</span>
        </div>
        <lw-error-box *ngIf="validateFormControl('price')">
          <div *ngIf="form.get('price').hasError('required')">
            Price required.
          </div>
          <div *ngIf="form.get('price').hasError('min') || form.get('price').hasError('number')">
            Price must be a number greater than 0 €.
          </div>
        </lw-error-box>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select [(ngModel)]="product.category" class="form-control" id="category" formControlName="category">
          <option></option>
          <option *ngFor="let category of categories$ | async" [value]="category.key">
            {{category.name}}
          </option>
        </select>
        <lw-error-box *ngIf="validateFormControl('category')">
          Category required.
        </lw-error-box>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input type="URL" [(ngModel)]="product.imageUrl" class="form-control" id="imageUrl" formControlName="imageUrl">
        <lw-error-box *ngIf="validateFormControl('imageUrl')">
          <div *ngIf="form.get('imageUrl').hasError('required')">
            Image URL required.
          </div>
          <div *ngIf="form.get('imageUrl').hasError('url')">
            Invalid URL pattern
          </div>
        </lw-error-box>
      </div>
      <div>
        <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Save</button>
        <button type="button" class="btn btn-danger" (click)="deleteProduct()">Delete</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <p *ngIf="isFormEmpty()">Preview your product here :)</p>
    <ng-container *ngIf="!isFormEmpty()" class="card">
      <lw-product-card [product]="product" [show-actions]="false"></lw-product-card>
    </ng-container>
  </div>
</div>
