<div style="width:100%" [@routerTransition]>
  <h1>
    Shop is now open!
  </h1>
  <ngb-carousel>
    <ng-template ngbSlide>
      <a routerLink="shop/offers">
        <img class="img-fluid" src="../../../../assets/images/chalkboard_offer.jpg" alt="Offers">
      </a>
    </ng-template>
    <ng-template ngbSlide>
      <a routerLink="shop/products">
        <img class="img-fluid" src="../../../../assets/images/keep_calm.jpg" alt="Products">
      </a>
    </ng-template>
  </ngb-carousel>
</div>
