<h1>Orders</h1>
<div *ngIf="orders$ | async as orders, let orders;else spinner">
    <ngx-datatable
      class="bootstrap"
      [rows]="orders"
      [columnMode]="'force'"
      [headerHeight]="40"
      [footerHeight]="40"
      [limit]="15"
      [rowHeight]="'auto'"
      [reorderable]="true">
      <ngx-datatable-column name="Customer" prop="shipping.name">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Date" prop="datePlaced">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | date }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Id" prop="key">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column sortable="false" minWidth="70" maxWidth="70">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="action-buttons">
              <button class="btn btn-link" (click)="viewOrder(row)">
               View
            </button>
            </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    </div>
    <ng-template #spinner>
      <lw-spinner></lw-spinner>
    </ng-template>