<div class="row">
  <div class="col-md-3 col-sm-12 col-xs-12">
    <lw-product-filter [category]="category"></lw-product-filter>
  </div>
  <div class="col">
    <div class="row" *ngIf="cart$ | async as cart">
      <div class="card-columns">
        <ng-container *ngFor="let product of filteredProducts; let i = index">
          <lw-product-card class="fixedd" [product]="product" [shopping-cart]="cart" [show-category]="false"></lw-product-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
