<nav class="navbar navbar-expand-md bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">Olli's shop</a>
  <button class="navbar-toggler navbar-toggler-right" (click)="toggleCollapse()" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!showCollapsedMenu">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item" (click)="close()">
        <a class="nav-link" routerLink='/shop/shopping-cart' routerLinkActive="active">Shopping Cart</a>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Username</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01" (click)="close()">
          <a class="dropdown-item" routerLink="/shop/my-orders" routerLinkActive="active">My Orders</a>
          <a class="dropdown-item" routerLink="/admin/orders" routerLinkActive="active">Manage Orders</a>
          <a class="dropdown-item" routerLink="/admin" routerLinkActive="active">Manage Products</a>
          <a class="dropdown-item">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
