<nav class="navbar navbar-expand-md navbar-light bg-faded fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-paw fa-2x" aria-hidden="true"></i> Olli's shop
    </a>
    <lw-animated-toggle class="navbar-toggler navbar-toggler-right" [toggle]="showCollapsedMenu" (click)="toggleCollapse()"></lw-animated-toggle>
    <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="!showCollapsedMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" (click)="close()">
          <a class="nav-link" routerLink='/shop/shopping-cart' routerLinkActive="active-route">
            <i class="fa fa-2x fa-shopping-cart" aria-hidden="true">
              <span *ngIf="cart$ | async as cart" class="badge badge-warning badge-pill">{{ cart.totalItemsCount }}</span>
            </i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" (click)="close()">
          <a class="nav-link" routerLink='shop/products' routerLinkActive="active-route">
            Products
          </a>
        </li>
        <li class="nav-item" (click)="close()">
          <a class="nav-link" routerLink='shop/offers' routerLinkActive="active-route">
            Offers
          </a>
        </li>
        <ng-template #anonymousUser>
          <li class="nav-item" (click)="close()">
            <a class="nav-link" (click)="openLoginModal()">Login</a>
          </li>
        </ng-template>
        <li ngbDropdown *ngIf="appUser$ | async as user; else anonymousUser" class="nav-item dropdown" placement="bottom-right">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.name}}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01" (click)="close()">
            <a class="dropdown-item" routerLink="/shop/my-orders" routerLinkActive="active-route">My Orders</a>
            <ng-container *ngIf="user.isAdmin">
              <a class="dropdown-item" routerLink="/admin/orders" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: true}">Manage Orders</a>
              <a class="dropdown-item" routerLink="/admin/products" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: true}">Manage Products</a>
            </ng-container>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
