<nav class="navbar navbar-expand-md navbar-light bg-light bg-faded fixed-top">
  <a class="navbar-brand" routerLink="/">
    <i class="fa fa-umbrella fa-2x"></i> Olli's shop
  </a>
  <button class="navbar-toggler navbar-toggler-right" (click)="toggleCollapse()" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!showCollapsedMenu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" (click)="close()">
        <a class="nav-link" routerLink='/shop/shopping-cart' routerLinkActive="active-route">
          <i class="fa fa-shopping-cart"></i> Shopping Cart</a>
      </li>
      <li ngbDropdown class="nav-item dropdown" placement="bottom-right">
        <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Username</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01" (click)="close()">
          <a class="dropdown-item" routerLink="/shop/my-orders" routerLinkActive="active-route">My Orders</a>
          <a class="dropdown-item" routerLink="/admin/orders" routerLinkActive="active-route">Manage Orders</a>
          <a class="dropdown-item" routerLink="/admin" routerLinkActive="active-route">Manage Products</a>
          <a class="dropdown-item">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
