/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import 'node_modules/angular2-toaster/toaster';
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900");

$fa-font-path: "../node_modules/font-awesome/fonts";
$primary-color: orange;
$primary-color-disabled: #fdc65f;
$primary-color-hover: #f58d06;
$secondary-color: #808080;
$secondary-color-hover: $primary-color;
$primary-font-family: 'Raleway';

* {
  font-family: $primary-font-family;
}

html  { 
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

h1,
h2,
h3 {
  margin-bottom: 1.5rem;
}

.navbar {
  border-bottom: 3px solid $primary-color;
}

.navbar-light .navbar-brand {
  color: $primary-color;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: $primary-color-hover;
}

.list-group-item.active,
.dropdown-item:active {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-link {
  color: $primary-color;
  text-decoration-line: none!important;
  &:hover {
    color: $primary-color-hover;
    border-style: solid!important;
    border-color: $primary-color-hover!important;
  }
}

.outlet {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.card-columns {
  @media screen and (max-width: 554px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover,
  &:active {
    background-color: $primary-color-hover!important;
    border-color: $primary-color-hover!important;
  }
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: $primary-color-disabled;
  border-color: $primary-color-disabled;
}

.btn-secondary {
  background-color: $secondary-color;
  border-color: $secondary-color;
  &:hover,
  &:active {
    background-color: $secondary-color-hover!important;
    border-color: $secondary-color-hover!important;
  }
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.form-control:focus {
  border-color: $primary-color;
}

.active-route {
  color: $primary-color!important;
}

.footer {
  text-align: center;
  .footer-icon {
    color: red;
  }
}

.navbar-toggler {
  border: none!important;
  padding: 0!important;
}

.animated-toggler {
  span {
    line-height: 1!important;
    background: $primary-color;
  }
}

.mobile-hidden {
  @media screen and (max-width: 554px) {
    display: none;
  }
}

.action-buttons {
  padding-right: 20px;
  text-align: right;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-size: cover;
}
